
body{
    background: linear-gradient(to left, black , darkgrey);
}

.button{
    text-decoration: dashed;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color:lightskyblue;   
    margin:10px;
    display:block
}
a:hover{
    color: blue;
}